<h3>/ --> Main page</h3>
<br /><br />


<h1 class="header-1">
  Test header
</h1>

<input type="text" />
<button (click)="addProduct()">Add</button>

@for (item of waterProducts; track item.name) {
<nx-playground-card class="mb-1">
  <div class="Card__Title">{{ item.name }}</div>
  <div class="Card__Text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam quas
    quis at quidem natus! Eius quaerat error laborum non ad dolores quae
    corporis veniam, aut, ea fuga porro deleniti quam?

    <nx-playground-button
      class="mt-1"
      [attr.aria-label]="'btn aria label'"
      (click)="addProduct()"
    >
      Test click
    </nx-playground-button>
  </div>
</nx-playground-card>
} @empty {
<li>There are no items.</li>
}
