:host {

  nx-playground-card {
    margin-bottom: 16px !important;
  }

  & .Card {
    &__Title {
      font-size: 24px;
      font-weight: 600;
      color: #{var(--nx-global-color-primary)};
      margin-bottom: 16px;
    }
  }
}
