:host {
  .MainNavigation {
    display: flex;

    justify-content: space-between;
    // flex-direction: column;
    padding-inline: 16px;
    padding-block: 32px;

    border-top: 6px solid #{var(--nx-custom-purple-500)};

    &__Links {
      display: flex;
      align-items: flex-end;
      gap: 16px;
    }
  }
}
