/* You can add global styles to this file, and also import other style files */

:root {
    --nx-global-color-primary: #7d37ff; 
    // #6100ff
    --nx-global-color-secondary: #f1ecfe;
    --nx-global-color-text: #000000;
  }
  