/* You can add global styles to this file, and also import other style files */

// old pallete
// :root {
//   --nx-global-color-primary: #7d37ff;  // #6100ff
//   --nx-global-color-secondary: #f1ecfe;
//   --nx-global-color-text: #000000;
// }

:root {
  /* Primary */
  --nx-custom-purple-050: #eae2f8;
  --nx-custom-purple-100: #cfbcf2;
  --nx-custom-purple-200: #a081d9;
  --nx-custom-purple-300: #8662c7;
  --nx-custom-purple-400: #724bb7;
  --nx-custom-purple-500: #653cad;
  --nx-custom-purple-600: #51279b;
  --nx-custom-purple-700: #421987;
  --nx-custom-purple-800: #34126f;
  --nx-custom-purple-900: #240754;

  --nx-custom-red-vivid-050: #ffe3e3;
  --nx-custom-red-vivid-100: #ffbdbd;
  --nx-custom-red-vivid-200: #ff9b9b;
  --nx-custom-red-vivid-300: #f86a6a;
  --nx-custom-red-vivid-400: #ef4e4e;
  --nx-custom-red-vivid-500: #e12d39;
  --nx-custom-red-vivid-600: #cf1124;
  --nx-custom-red-vivid-700: #ab091e;
  --nx-custom-red-vivid-800: #8a041a;
  --nx-custom-red-vivid-900: #610316;

  /* Neutrals */
  --nx-custom-blue-grey-050: #f0f4f8;
  --nx-custom-blue-grey-100: #d9e2ec;
  --nx-custom-blue-grey-200: #bcccdc;
  --nx-custom-blue-grey-300: #9fb3c8;
  --nx-custom-blue-grey-400: #829ab1;
  --nx-custom-blue-grey-500: #627d98;
  --nx-custom-blue-grey-600: #486581;
  --nx-custom-blue-grey-700: #334e68;
  --nx-custom-blue-grey-800: #243b53;
  --nx-custom-blue-grey-900: #102a43;

  /* Supporting */
  --nx-custom-teal-vivid-050: #f0fcf9;
  --nx-custom-teal-vivid-100: #c6f7e9;
  --nx-custom-teal-vivid-200: #8eedd1;
  --nx-custom-teal-vivid-300: #5fe3c0;
  --nx-custom-teal-vivid-400: #2dcca7;
  --nx-custom-teal-vivid-500: #17b897;
  --nx-custom-teal-vivid-600: #079a82;
  --nx-custom-teal-vivid-700: #048271;
  --nx-custom-teal-vivid-800: #016457;
  --nx-custom-teal-vivid-900: #004440;

  --nx-custom-yellow-vivid-050: #fffbea;
  --nx-custom-yellow-vivid-100: #fff3c4;
  --nx-custom-yellow-vivid-200: #fce588;
  --nx-custom-yellow-vivid-300: #fadb5f;
  --nx-custom-yellow-vivid-400: #f7c948;
  --nx-custom-yellow-vivid-500: #f0b429;
  --nx-custom-yellow-vivid-600: #de911d;
  --nx-custom-yellow-vivid-700: #cb6e17;
  --nx-custom-yellow-vivid-800: #b44d12;
  --nx-custom-yellow-vivid-900: #8d2b0b;

  // Spacing
  --nx-custom-spacing-pad-1: 1rem;

  & .mt {
    &-1 {
      margin-top: 4px;
    }
  }

  & .mb {
    &-1 {
      margin-bottom: 4px;
    }
  }

  // Typography

  //   font-family: monospace;
  font-family: 'PT Sans', sans-serif; // put initial font in main styles to avoid FOUC

  --nx-custom-text-size-1: 1rem;
}

// https://piccalil.li/blog/a-more-modern-css-reset/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

h1.header-1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}